{% extends 'view/base.html' %}

{% load staticfiles %}

{% block title %}Клиенты | CRM{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Клиенты
            <small>список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Клиенты</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Список клиентов</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Имя</th>
                            <th>E-mail</th>
                            <th>Телефон</th>
                            <th>Адрес</th>
                            <th>Функции</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in clients %}
                            <tr>
                                {% include 'view/misc/client_dashboard_row.html' %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Имя</th>
                            <th>E-mail</th>
                            <th>Телефон</th>
                            <th>Адрес</th>
                            <th><a href="{% url 'client_new' %}" class="btn btn-primary">Добавить клиента</a></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script>
        var saveClientButton = $('.save-client-dashboard');
        $(saveClientButton).on('click', function (event) {
            event.preventDefault();
            var that = this;
            $(this).attr('disabled', 'true');
            var parent = $(this).parent().parent().parent();
            var data = {
                'csrf_token': '{{ csrf_token }}',
                'name': $(parent).find('.client-name > input').val(),
                'email': $(parent).find('.client-email > input').val(),
                'phone': $(parent).find('.client-phone > input').val(),
                'address': $(parent).find('.client-address > input').val()
            };
            //alert('csrf_token: ' + data['csrf_token'] + '\n name: ' + data['name'] + '\n email: ' + data['email'] + '\n phone: ' + data['phone'] + '\n address: ' + data['address']);
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: $(that).attr('href'),
                data: data,
                success: function (response) {
                    if (response.success) {
                        alert('Успешно');
                    } else {
                        alert('Ошибка!');
                    }
                    $(that).removeAttr('disabled');
                },
                error: function () {
                    alert('Ошибка!');
                }
            });
        });
    </script>
{% endblock %}