{% extends 'view/base.html' %}

{% load staticfiles %}

{% block title %}Заказы | CRM{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Заказы
            <small>список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Заказы</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Заказы</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Конечная цена $</th>
                            <th>Статус</th>
                            <th>Теги</th>
                            <th>Функции</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order_list %}
                            <tr>
                                {% include 'view/misc/order_dashboard_row.html' %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Наименование</th>
                            <th>Конечная цена $</th>
                            <th>Статус</th>
                            <th>Теги</th>
                            <th><a href="{% url 'order_new' %}" class="btn btn-primary">Добавить заказ</a></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script>
        var saveButton = $('.save-order-dashboard');

        var saveDashboardOrder = function (event) {
            event.preventDefault();
            $(this).attr('disabled', 'true');
            var parentNode = $(saveButton).parent().parent().parent();
            var data = {
                'url': $(saveButton).attr('href'),
                'csrf_token': '{{ csrf_token }}',
                'title': $(parentNode).find('.order-title').find('input[type="text"]').val() + '',
                'status': $(parentNode).find('.order-status').find('input[type="text"]').val() + ''
            };
            {#alert(' url: ' + data['url'] + '\n csrf_token: ' + data['csrf_token'] + '\n title: ' + data['title'] + '\n status:' + data['status']);#}
            $.ajax({
                method: 'POST',
                url: $(saveButton).attr('href'),
                dataType: 'HTML',
                data: data,
                success: function (response) {
                    if(response != '') {
                        $(saveButton).removeAttr('disabled');
                    }
                },
                error: function () {
                    $(saveButton).removeAttr('disabled');
                }
            });
        };

        $(saveButton).on('click', saveDashboardOrder)
    </script>
{% endblock %}