{% extends 'view/base.html' %}

{% load staticfiles %}

{% block title %}Менеджеры | CRM{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Менеджеры
            <small>список</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Менеджеры</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Менеджеры</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>e-mail</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Функции</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in users %}
                            <tr>
                                {% include 'view/misc/user_dashboard_row.html' %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>e-mail</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th><a href="{% url 'user_add' %}" class="btn btn-primary">Добавить заказ</a></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script>
        var saveUserDashboard = $('.save-user-dashboard');
        $(saveUserDashboard).on('click', function (event) {
            event.preventDefault();
            $(this).attr('disabled', 'true');
            var parent = $(this).parent().parent().parent();
            var data = {
                'csrf_token': '{{ csrf_token }}',
                'username': $(parent).find('.user-name > input').val(),
                'email': $(parent).find('.user-email > input').val(),
                'first_name': $(parent).find('.user-first-name > input').val(),
                'last_name': $(parent).find('.user-last-name > input').val(),
                'user_id': $(this).attr('data-user-id')
            };
            /*for(var key in data) {
                if(data.hasOwnProperty(key)) {
                    console.log(key + ': ' + data[key] + ' \n');
                }
            }*/
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                data: data,
                url: $(saveUserDashboard).attr('href'),
                success: function (response) {
                    if(response.success) {
                        $(saveUserDashboard).removeAttr('disabled');
                        if(data['user_id'] == {{ user.id }}) {
                            $('#side-bar-user-name').html(data['username']);
                            $('#user-panel-user-name').html(data['username']);
                            $('#header-bar-user-panel').html(data['username']);
                        }
                    }
                },
                error: function () {
                    $(saveUserDashboard).removeAttr('disabled');
                }
            });
        })
    </script>
{% endblock %}