{% extends 'view/base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}{{ order.title }} | CRM{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Заказ
            <small>{{ order.order_number }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li><a href="{% url 'order_list' %}">Заказы</a></li>
            <li class="active">{{ order.title }}</li>
        </ol>
    </section>
{% endblock %}

{% block body %}
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> {{ order.title }}
                    <small class="pull-right">Дата создания: {{ order.updated_at }}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>Основная информация.</strong><br>
                    Статус: {{ order.status }}<br>
                    Ссылка на товар: <a href="{{ order.link_to_product }}" target="_blank">{{ order.title }}</a><br>
                    Клиент: <a href="{% url 'client_view' client_id=order.client.id %}">{{ order.client.name }}</a><br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>Информация</strong><br>
                    Цена товара: ${{ order.price }}<br>
                    Конечная цена: ${{ order.final_price }}<br>
                    {% if order.site_which_from %}Сайт:
                        <a href="{{ order.site_which_from }}" target="_blank">{{ order.site_which_from }}</a>
                        <br>{% endif %}
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Номер заказа:  #{{ order.order_number }}</b><br>
                <br>
                <b>Order ID:</b> {{ order.id }}<br>
                <b>Менеджеры:</b> {% for manager in order.manager.all %}<a href="
                    {% if user == manager %}{% url 'user_profile' %}{% else %}#{% endif %}">{{ manager.username }}</a>
                ,{% endfor %}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Коментарии</h3>

                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages" id="comments-count">{{ comments|length }}</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="chat-view">
                            <!-- Message. Default to the left -->
                            {% include 'view/misc/comments.html' %}
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer" style="display: block;">
                            <form action="{% url 'add_comment' %}" method="post" id="add_comment_form">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" name="comment" placeholder="Ваш комментарий ..." class="form-control" id="comment-field">
                                    <input type="hidden" name="user_id" value="{{ user.id }}"/>
                                    <input type="hidden" name="order_id" value="{{ order.id }}"/>
                                    <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-flat" id="send-chat-button">Отправить</button></span>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-footer-->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Теги:</p>
                    {% for tags in order.tags.all %}
                        <div class="label {{ tags.color }}">{{ tags.name }}</div>
                    {% endfor %}

                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        Теги можно добавить в таблице тегов: <a href="#">Теги</a>
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead">Дополнительная информация</p>

                    <div class="table-responsive">
                        {{ order.extra_field }}
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">

                    <a href="{% url 'order_list' %}" class="btn btn-default pull-right"><i class="fa fa-fw fa-arrow-circle-left"></i> Вернуться назад</a>
                    <a href="{% url 'order_remove' order_id=order.id %}" class="btn btn-danger pull-right" style="margin-right: 5px;" id="remove-button"><i class="fa fa-times"></i> Удалить</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    <script>
        var comment_form = $('#add_comment_form');
        $(comment_form).on('submit', function (event) {
            event.preventDefault();
            $('#send-chat-button').attr('disabled', 'true').html('Загрузка...');
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: $(comment_form).attr('action'),
                data: $(comment_form).serialize(),
                success: function (response) {
                    $('#send-chat-button').removeAttr('disabled').html('Отправить');
                    $('#comment-field').val('');
                    if (response.success) {
                        $.ajax({
                            method: 'POST',
                            dataType: 'HTML',
                            url: '{% url 'all_comments' %}',
                            data: {'csrf_token': '{{ csrf_token }}', 'order_id': {{ order.id }}},
                            success: function (response) {
                                $('#chat-view').html(response);
                                var commonts_count = $('#comments-count')
                                var comments = parseInt($(commonts_count).html());
                                comments++;
                                $(commonts_count).html(comments);
                            }
                        });
                    }
                },
                error: function () {
                    $('#send-chat-button').removeAttr('disabled').html('Отправить');
                }
            });
        });
    </script>
{% endblock %}